body {
  background-color: lightskyblue;
  font-family: consolas, serif;
  text-align: center;
}
h1 {
  font-size: 40px;
}
img {
  width: 360px;
}
a.buttons {
  display: block;
  padding: 5px 10px 5px 10px;
  background-color: pink;
}
a:hover.buttons {
  display: block;
  padding: 5px 10px 5px 10px;
  background-color: red;
}